<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bookmanager.eidian.bookmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activitys.SearchBook" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ActivityContentActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.LoginActivity"
            android:label="登陆"
            android:parentActivityName=".Activities.MainActivity" />
        <activity android:name=".Activities.ShowBookChineseInfo" />
        <activity android:name=".Activities.ShowBookWesternInfo" />
        <activity
            android:name=".Activities.SouthLakeActivity"
            android:label="南湖跑查询"
            android:parentActivityName=".Activities.SouthLakeActivity" />
        <activity
            android:name=".Activities.MyLibraryContent"
            android:label="书籍列表"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.MyLibraryActivity" />
        <activity
            android:name=".Activities.BorrowingContent"
            android:label="书籍列表"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.Show_new_book_message"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.Show_rank_book_message"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.BorrowingBookImformation"
            android:label="书籍详情"
            android:parentActivityName=".Activities.MyLibraryContent" />
        <activity
            android:name=".Activities.SearchBookActivity"
            android:label="馆藏查询"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.MyLibraryActivity"
            android:label="我的图书馆"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.RankActivity"
            android:label="借阅排行"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.RecommendActivity"
            android:label="新书推荐"
            android:parentActivityName=".Activities.MainActivity" />
        <activity android:name=".Activities.BmobReaderAddBook" />
        <activity android:name=".Activities.BmobReaderQueryBookActivity"></activity>
    </application>

</manifest>