<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bookmanager.eidian.bookmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activitys.SearchBook" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ActivityContentActivity"
            android:label="南湖跑查询"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.LoginActivity"
            android:label="登陆"
            android:parentActivityName=".Activities.MainActivity" />
        <activity android:name=".Activities.ShowBookChineseInfo" />
        <activity android:name=".Activities.ShowBookWesternInfo" />
        <activity
            android:name=".Activities.SouthLakeActivity"
            android:label="南湖跑查询"
            android:parentActivityName=".Activities.SouthLakeActivity" />
        <activity android:name=".Activities.MyLibraryContent" />
        <activity android:name=".Activities.BorrowingContent"></activity>
    </application>

</manifest>